<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
        <div>
          <img src="https://qliclabs.com/v1/assets/images/logo/official_logo.png" alt="alternatetext" style="width:150px;height:50px;">
        </div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<div class="bubble-input">
						<input type="text" name="username" placeholder="User name / Email" [(ngModel)]="username">
					</div>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<div class="bubble-input">
					<input type="password" name="password" placeholder="Password" [(ngModel)]="password"/>
					</div>
				</div>
				<!-- <button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				 -->
			   <div class="input">
				  <button mat-raised-button (click)="Verify()">Login</button>
			   </div>
				  
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>